.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(248, 248, 251);
}

.login-card {
  background-color: #ffffff;
  padding: 40px 30px;
  border-radius: 20px;
  width: 100%;
  max-width: 350px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.login-title {
  font-size: 24px;
  margin-bottom: 30px;
  color: #333;
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-input {
  padding: 15px 20px;
  border-radius: 12px;
  border: 1px solid #f0f0f0;
  outline: none;
  font-size: 14px;
  background-color: #fff;
  box-shadow:
    inset 0 2px 4px rgba(0, 0, 0, 0.05),
    0 2px 5px rgba(0, 0, 0, 0.05);
}

.login-input::placeholder {
  color: #999;
}

.login-button {
  margin-top: 30px;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background-color: rgb(1, 34, 248);
  color: white;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(177, 156, 245, 0.5);
}

.sign_up {
  margin-top: 20px;
  color: #686666;
  border: none;
  border-radius: 30px;
  font-size: 13px;
  width: 100%;
  height: 40px;
}

.sign_up:hover {
  color: #b19cf5;
}
